bin
bin/default
.metadata
.classpath
.project
.idea
build
logs
*.class 
.gradle
.settings
log4jInfo.log
.obsidian
Arch_coldstorageservice.py

#node
nodeCode/*/node_modules/
*.lck
package-lock.json

# MQTT generated
*-tcp*


/ReadMe.html
.lck/ 
docker/
/.metadata/
/src-gen/
