bin
bin/default
.metadata
.classpath
.project
.idea
build
logs 
.gradle/
.obsidian
.settings

log4jInfo.log

#node
nodeCode/*/node_modules/
*.lck
package-lock.json

# MQTT generated
*-tcp*


/ReadMe.html
.lck/ 
docker/
/.metadata/
/src-gen/
